html, body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Container {
    flex: 1; /* to ensure that the container occupies all the available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* it Distributes the space between middle and bottom */
    margin: 0;
    padding: 0;
    height: 100%;
}

.Top {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #f67299, #772976);
    margin: 0;
    padding: 0;
    align-items: flex-end; /* To align the items bellow */
    position: relative;
    height: 50px;
}

.Top h1 {
    margin: 4% 0 0 0;
    padding: 0% 6% 1% 3%;
    color: #fff;
    text-shadow: 0.19vh 0.1vh #949697;
    font-size: large;
}

.Top .Bell, .Top .Config {
    position: absolute; /* To allow the absolute positioning */
    bottom: 0; /* Align in the container background */
    padding: 1% 2% 0 0;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: inherit;
    font: inherit;
}

.Top .Bell:active, .Top .Config:active {
    opacity: 0.7; /* to decrease the opacity when clicking */
}

.Top .Bell {
    right: 45px;
}

.Top .Config {
    right: 01px;
}

.Bottom{
    display: flex;
    justify-content: space-around; /* to distribute the links evenly */
    align-items: center;    
    border: none;
    background: #fc9ccc;
}

.Bottom a{
    padding: 0;
}

@media (max-width: 319px) { /* shorter or equal to 354 pixels*/
    .Bottom{
        display: block;
    }
}